<!DOCTYPE html>
<html>
    <head>
        <title>goodbye</title>
    </head>

    <body>
        <%# <%time = Time.now%>
        <%# <h1>The date is <%= time.strftime('%A') + ", " + time.strftime('%B') + time.strftime('%e') + ", " + time.strftime('%Y')%>
        <h1>The date is <%= Date.today.strftime("%A, %B %d, %Y")%></h1>
    </body>
</html>