<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body> The date is 
        <h1></h1>
        <p><%time = Time.new%></p>
        <p><%=time.strftime("%A, %B %d, %Y")%>
    </body>
</html>