<!DOCTYPE html>
<html>
  <head>
    <title>goodbye</title>
  </head>
  <body>
      <%name = "Joe" %> 
    <h1><%= "Goodbye #{name}"%> </h1>
    <p>The date is <%= Time.now.strftime("%A, %B %d, %Y") %></p>
  </body>
</html>
